.navbar ul {

    border-radius: 5px;
    background-color: rgb(10, 10, 168);


}

.navbar li {
    float: left;
    list-style: none;
    padding: 3px 3px;
}

.navbar ul {
    overflow: auto;
    height: 30px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    margin: 13px 20px;



}

.id:hover {
    text-decoration: underline;
}

.search {
    margin-left: 1113px;
    margin-top: 5px;
}

.logo {

    padding-left: 600px;
    padding-top: 100px;



}

.id {
    height: 30px;
    text-decoration: none;
}

.division {

    height: 500px;

}

.teacher {
    border: 3px solid blue;
    margin: 12px 100px;
    padding: 12px 6px;
    background-color: antiquewhite;
}

.college {

    border: 3px solid blue;
    margin: 20px 100px;
    padding: 12px 6px;
    background-color: antiquewhite;

}

.courses {
    margin-left: 26%;

}

.news {
    border: 3px;

    padding: 12px 6px;
    background-color: antiquewhite;
    width: 50%;
    margin-left: 20%;
    margin-top: 15px;
    margin-bottom: 15px;


}

.newsid {
    text-decoration: none;
    padding: 10px;
}

.newsid:hover {
    text-decoration: underline;
}

.search2 {
    margin-left: 1200px;
    margin-top: 5px;

}

.logo_table {
    padding-top: 50px;
}

.videos {
    margin-left: 40%;
}